<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/web/style.css">
  <style>
    body {
      display: flex;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | {{ node_name }}</title>
</head>

<body>

  <div class="login-container">
    <h2>Login to {{ node_name }}</h2>
    <h6>{{ node_id }}</h6>
    <h6>nullfs {{ version }}</h6>

    <form method="post" action="/web/login">
      <div class="form-group">
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" required>
      </div>
      {% if error %}
      <div class="form-group">
        <span style="color: red;">
          {{ error }}
        </span>
      </div>
      {% endif %}
      <button type="submit" class="login-btn">Login</button>
    </form>

  </div>

</body>

</html>